django==2.2
pyyaml==3.12
pillow==9.0.0
django_compressor==2.2
django-libsass==0.7
rules==1.3
django-tellme==0.6.5
# for messaging
django-coverage==1.2.4
django-widget-tweaks==1.4.2
django-watson==1.5.2 #Search engine
django-cleanup==2.1.0 #To automatically delete old files when new ones are uploaded (profile picture for example)
social-auth-app-django==2.1.0


#for thesis
bugsnag #I think this should be added at least, Alexander didn't add this but wouldn't work otherwise
django_jenkins

selenium
django-jenkins
nose
behave
paver
psutil
browserstack-local
coverage
pep8
pyflakes
pylint
gunicorn
django-heroku